body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: url('public/assets/medecin-gps.png');
    background-size: 100%;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

header {
    width: 100%;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(36, 179, 124, 1) 0%, rgba(72, 219, 166, 1) 100%);
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.navbar:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.logo {
    width: 80px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: rotate(360deg);
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #ffdd57;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.nav-links a::before {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background: #ffdd57;
    transition: width 0.3s;
    margin-top: -10px;
    margin-bottom: 7px;
    border-radius: 5px;
}

.nav-links a:hover::before {
    width: 100%;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 20px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-links li {
        margin: 10px 0;
    }
}

.services {
    margin-left: 285px;
    margin: 20px auto;
    text-align: center;
}

.service {
    background-color: white;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 325px;
}

.service h3 {
    margin: 0;
    color: #4CAF50;
}

.form-container {
    background-color: white;
    padding: 30px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 400px;
    text-align: center;
    border-radius: 8px;
    margin-top: 40px;
    animation: fadeIn 1s ease-in-out;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-size: 16px;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background: linear-gradient(90deg, rgba(36, 179, 124, 1) 0%, rgba(72, 219, 166, 1) 100%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #388E3C;
    transform: scale(1.05);
}

.receipt {
    display: none;
    background-color: white;
    padding: 30px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 400px;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    font-size: 26px;
    color: #4CAF50;
    margin-bottom: 20px;
}

.header p {
    margin: 5px 0;
    color: #4CAF50;
    font-size: 14px;
}

h2 {
    font-size: 20px;
    color: #4CAF50;
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    animation: fadeIn 1s ease-in-out;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

#display-name, #display-service, #display-price, #display-date {
    font-weight: bold;
    color: #4CAF50;
}

@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}